{% extends 'base.html.twig' %}

{% block title %}Réinitialiser mot de passe{% endblock %}

{% block sectionTitle %} Réinitialiser mot de passe {% endblock %}

{% block section %}
    <div class="container">
        <h2>ici form de réinitilaisation</h2>
    </div>
{% endblock %}