{% extends 'base.html.twig' %}

{% block title %}Paiement{% endblock %}

{% block sectionTitle %} Payer ma commande {% endblock %}

{% block btnBack %}{% endblock %}

{% block section %}
<div class="container py-4">
   paiement de la commande
</div>
{% endblock %}